/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.my-img {
    width: 100px;
<<<<<<< HEAD
    height: 80px;
}

.subject-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-profile-img {
    width: 450px;
    height: 300px;
=======
    height: 50px;
>>>>>>> d3e3da6 (changes on nav bar, trying to update an image)
}